<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>18.1 intro</title>
</head>
<body>
	<div id="app">
		<div>	
			<input type="text" v-model="name">
			<span v-show="name">Your name: {{name}}</span>
			
		</div>
		<div>
			<input type="text" v-model="age">
			<span v-show="age">Your age: {{age}}</span>
		</div>
		<div>		
			<input type="text" v-model="gender">
			<span v-show="gender">Your gender: {{gender}}</span>
		</div>
	</div>

	<div id="app1">
		<div>
			<input type="text" v-model="name">
			<span v-show="name">您的名字：{{name}}</span>
		</div>
		<div>
			<input type="text" v-model="age">
			<span v-show="age">您的年龄：{{age}}</span>
		</div>
		<div>
			<input type="text" v-model="sex">
			<span v-show="sex">您的性别：{{sex}}</span>
		</div>
	</div>

	<div id="app2">
		<div>
			<input type="text" v-model="name">
			<span v-show="name">你的名字：{{name}}</span>
		</div>
		<div>
			<input type="text" v-model="singer">
			<span v-show="singer">你喜欢的歌手：{{singer}}</span>
		</div>
		<div>
			<input type="text" v-model="actor">
			<span v-show="actor">你喜欢的演员：{{actor}}</span>
		</div>
	</div>

	<script src="./lib/vue.min.js"></script>
	<script src="./js/18.1.js"></script>
</body>
</html>