<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>18.14 过滤器</title>
</head>
<body>	
	<div id="app">
		<div>
			<input type="text" v-model="length"> mm =
			{{length | meter}}
		</div>

		<hr>

		<div>
			<input type="text" v-model="price">
			{{price | currency('USD')}}
		</div>
	</div>

	<script src="./lib/vue.min.js"></script>
	<script src="./js/18.14.js"></script>
</body>
</html>